.Practice {
	color:lightblue;
	margin-top: 400px;
}

.Practice h1{
	margin-left:40%;
}

.Navigation {
	height:50px;
	width:90%;
	margin-left: 100px;
	background-color: #333;
	text-align: center;
}

.Navigation li {
	display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding:10px 40px;
}

.Navigation a{
	text-decoration: none;
	color:white;
}


.Change {
	height:200px;
	width:100%;
	background-image: url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350);
	background-repeat: no-repeat;	
	background-size: 90%;
	background-position: top;
	background-repeat: lighten;
}

.Cange h1,p {
	margin-left:100px;
	color:red;
} 

.Head_shift {
	text-align: center;
	color:#444;
}




.Border_tag {
	border:2px solid tomato;
	border-radius: 80px;
	border-top-style: groove;
	border-top-color:green;
	padding-left: 500px;
	color:black;
	border-bottom-width: 10px;
}

.Border_Par {
	margin:40px;
	border:2px solid violet;
	text-align: center;
	padding:10px;
}

.Box {
	text-align: center;
	color:#444;
	margin:2px; 
	width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

.Outline {
	border: 1px solid red;
	width:900px;
	text-align:center;
	outline:2px solid yellow;
	outline color:invert;
	outline-width: 10px;
	outline-offset: 20px;
	margin: 10px 20px;
}

.Outline_offset{
	margin:35px 100px;
}

.justify {
	border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 250px;
    text-align: justify;
    margin-left: 10px;
    color:#444;
    background-color: tomato;
}

.Shadow h3 {
	text-shadow: 2px 3px red;
	color:green;
	text-align: center;	
}

.Shadow p{
	text-indent: 50px;
	text-align: justify;
	font-style: Monospace;
	border:1px solid red;
	width:80%;
}

.Times_new {	
	font-family: "Times new roman", Times;
	color:#444;
}
.San {	
	text-decoration: none;
	font-family: "sans serif";
}