.Practice {
	color:lightblue;
	margin-top: 400px;
}

.Practice h1{
	margin-left:40%;
}

.Navigation {
	height:50px;
	width:90%;
	margin-left: 100px;
	background-color: #333;
	text-align: center;
}

.Navigation li {
	display: inline-block;
    font-size: 20px;
    text-decoration: none;
    padding:10px 40px;
}

.Navigation a{
	text-decoration: none;
	color:white;
}


.Change {
	height:200px;
	width:100%;
	background-image: url(https://images.pexels.com/photos/248797/pexels-photo-248797.jpeg?auto=compress&cs=tinysrgb&h=350);
	background-repeat: no-repeat;	
	background-size: 90%;
	background-position: top;
	background-repeat: lighten;
}

.Cange h1,p {
	margin-left:100px;
	color:red;
} 

.Head_shift {
	text-align: center;
	color:#444;
}




.Border_tag {
	border:2px solid tomato;
	border-radius: 80px;
	border-top-style: groove;
	border-top-color:green;
	padding-left: 500px;
	color:black;
	border-bottom-width: 10px;
}

.Border_Par {
	margin:40px;
	border:2px solid violet;
	text-align: center;
	padding:10px;
}